.DS_Store
backend/.env
.flaskenv
*.pyc
*.pyo
env/
backend/venv/
backend/migrations/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover