requests==2.29.0
Flask==2.2.3
Flask-Cors==3.0.10
Flask-Login==0.6.2
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
psycopg==3.1.8
psycopg-binary==3.1.8
psycopg2-binary==2.9.6
python-dotenv==1.0.0
SQLAlchemy==2.0.9
Flask-RESTful==0.3.9
flasgger==0.9.5
PyJWT==2.6.0
Flask-Mail==0.9.1
SQLAlchemy-Utils==0.41.0
flasgger==0.9.5
firebase-admin==6.1.0
twilio==8.1.0
authy==2.2.6